@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    transition: all 1000ms;
  }

  .line {
    width: 27px;
    background-color: white;
    height: 3px;
  }
  .ham {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .line-1 {
    transition: all 300ms;
    transform: rotate(-47deg) translate(-5px, 6px);
  }

  .line-2 {
    opacity: 0;
  }

  .line-3 {
    transition: all 300ms;
    transform: rotate(45deg) translate(-1px, -3px);
  }

  .rotate-3d {
    transition: transform 0.5s;
  }

  .rotate-3d:hover {
    transform: rotateY(180deg);
  }

  .techClip {
    clip-path: polygon(0 0, 92% 0, 100% 100%, 8% 100%);
  }

  .custom-rotate {
    animation: spin 4s linear infinite; /* Adjust the duration (4s) to control the speed */
  }

  @media screen and (min-width: 769px) {
    .mobile-navigation {
      display: none;
    }
  }

  .fadeIn {
    animation: fadeIn 5s;
  }

  .moveLeft {
    animation: moveIn 2s;
  }
  .sucessScaleIn {
    animation: scaleIn 1s;
  }
  /* .moveRight {
  } */

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveIn {
    0% {
      transform: translateX(-50%);
    }

    50% {
      transform: translateX(20%);
    }
    75% {
      transform: skew(10deg);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes scaleIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .projectCard:hover .cardImage {
    transform: scale(1.2);
    transition: 300ms all;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
