@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .line {
    width: 27px;
    background-color: white;
    height: 3px;
  }
  .ham {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .line-1 {
    transition: all 300ms;
    transform: rotate(-47deg) translate(-5px, 6px);
  }

  .line-2 {
    opacity: 0;
  }

  .line-3 {
    transition: all 300ms;
    transform: rotate(45deg) translate(-1px, -3px);
  }

  .rotate-3d {
    transition: transform 0.5s;
  }

  .rotate-3d:hover {
    transform: rotateY(180deg);
  }

  .techClip {
    clip-path: polygon(0 0, 92% 0, 100% 100%, 8% 100%);
  }

  .custom-rotate {
    animation: spin 4s linear infinite; /* Adjust the duration (4s) to control the speed */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
